
#calculator{

    border-radius: 5px;
    border: 4px solid black;
    width: 200px;
    margin-bottom: 2px;
    background-color: blueviolet;
}
#display{
    margin: 10px;
    width: 85%;
    font-size: 40px;
    border: 2px solid black;
    background-color: blanchedalmond;
    text-align: right;
}
.buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    

}
.button{
    width: 48px;
    height: 40px;
    margin: 5px;
    border: 2px solid black;
    background-color: blanchedalmond;
    font-weight: 100;
    font-size: 29px;
    text-align: center;
}
